

p {
  color: white;
}

.main-container {
  background: url("./assets/mars-background2.jpeg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  background: url("./assets/home-background.jpeg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 8rem;
  height: 120px;
  width: 400px;
  align-items: center;
  text-align: center;
  background-color: #00000033;
  border-radius: 20px;
}